html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {font-family: Roboto, sans-serif;
    font-style: normal;
}

.page { 
   background-color: $primary-white-color;
   color: $primary-text-color;
     }
// 480 768 1200

.container {  
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  //max-width: 1200px;
  // outline: 1px solid teal;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }


  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: 1230px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}