html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {font-family: Roboto, sans-serif;
    font-style: normal;
}

.page { 
   background-color: $primary-white-color;
   color: $primary-text-color;
     }

.container {
  width: 380px;

  @media screen and (min-width: $tablet) {
    width: 738px;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
  }
}