.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /*outline: 1px solid teal;*/

}

.team-title, .team-list h3 {color: $title-text-color;}



.customers {color: $title-text-color;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    }

 .client .customers-list {
    display: flex;
    list-style: none;
}    

.customers-list  {

    .item{width: 170px;
        height: 90px;
        border-radius: 4px;
        margin-right: 30px;
        border: 1px solid $border;
        --color2: #{$border};}
    

     .item:hover{
        border: 1px solid $accent;;
        --color2: #{$accent};
        --color3: #{$accent};
        @extend %transition;
    }
    
    
    
     .item a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 90px;
    }
    
     .button-icon{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    
     .item:nth-child(6n) {
        margin-right: 0;
    }
}

