.menu-button {    
    padding: 0;
    margin: 0;  
    
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    .cross {
        display: none;
    }
    .menu {
        display: block;
    }
    @media screen and (min-width: $tablet){
        display: none;
    }
}

.is-open {
    .cross {
        display: block;
    }
    .menu {
        display: none;  
    }
} 


 
.header-menu {
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    background: #fff;
    width: 100%;
    .is-open + & {
        display: block;
        @media screen and (min-width: $tablet){
            display: flex;
            justify-content: space-between;
            flex-basis: 70%;
        }
    }

    @media screen and (min-width: $tablet){
        display: flex;
        justify-content: space-between;
        flex-basis: 70%;
        position: static;
        width: auto;
    }
}

.page-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}