.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/header-img.jpg);
    }
    

.hero-title{
           margin-top: 0;
           margin-bottom: 30px;
           color: $primary-white-color;
           font-weight: 900;
           font-size: 44px;
           line-height: 1.36;
           text-align: center;
           letter-spacing: 0.06em;
           text-transform: uppercase;
           width: 646px;
           margin-right: auto;
           margin-left: auto;
}

 .hero-link{
            background-color: $accent;
            color: $primary-white-color;                   
        }