.list{
    @extend %list
    }

.site-nav.list, .auth-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

.site-nav {
    display: flex;
    margin-left: 86px;
}    

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link{
    display: block;
    color: $title-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
}

.site-nav .link:hover, .site-nav .link:focus{
    color: $accent;
    @extend %transition;
}

.site-nav .link.current{
    position: relative;
    color: $accent ;}

.current::before{
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    right: 0;
    border-radius: 2px;
    background-color: $accent;
}