.soc-seti .button {
    display: flex;
    text-decoration: none;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    background-color: $fon;
    align-items: center;
    justify-content: center;     
}

 .soc-seti li {
     margin-right: 10px;
 }



 .soc-seti li:nth-child(4n) {
     margin-right: 0;
 }

 
 .soc-seti .button:hover {
    border-radius: 50%;
    background-color: $accent;
    --color3: #{$primary-white-color};
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .soc-seti .button .button-icon {
    width: 20px;
    height: 20px;
           
}

.soc-seti .button .button-icon:hover {
    --color3: #{$primary-white-color};
    
}