.team-foto {
    width: 270px;
    margin-bottom: 30px;
}

.team-title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}



.team-list {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;

     h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;}

         p {  
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            margin-top: 0;
            margin-bottom: 28px;
            text-align: center;   }
    
}



.color-team {
    background-color: $fon;
}

.team-list .item {
    width: 278px;
    margin-right: 30px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-bottom: 24px;
}

.team-list .soc-seti {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    fill: $border;
    justify-content: center;
}

.team-list .soc-seti li:hover {
    fill: $primary-white-color;
    
}

.team-list .soc-seti img:hover {
    background-color: $accent;
    border-radius: 50%;
    fill: $primary-white-color;
}

.team-list .item:nth-child(4n) {
    margin-right: 0;
}